.elements__cards {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(2, 1fr);
  max-width: 880px;
  margin: auto;
  gap: 17px;
  padding: 0;
}

.elements__card {
  position: relative;
  background-color: #ffffff;
  max-width: 282px;
  border-radius: 10px;
  overflow: hidden;
  font-family: Inter;
  font-weight: 900;
  font-size: 24px;
}

.elements__title {
  background-color: #ffffff;
  color: #000000;
  font-family: Inter;
  font-weight: 900;
  font-size: 24px;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  max-width: 228px;
}

.elements__trash {
  background-image: url(../images/Trash-icon.png);
  position: absolute;
  right: 5px;
  top: 5px;
  width: 18px;
  height: 20px;
  background-color: transparent;
  border: none;
}
.elements__like {
  background-image: url(../images/icon_heart.jpg);
  background-position: center;
  background-size: cover;
  width: 21px;
  height: 18px;
  border: none;
  background-color: transparent;
  outline: none;
}

.elements__description {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding: 0 15px 0 21px;
}

@media screen and (max-width: 920px) {
  .elements__cards {
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(3, 1fr);
    max-width: fit-content;
    gap: 30px;
  }
}

@media screen and (max-width: 768px) {
  .elements__cards {
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(3, 1fr);
    max-width: 620px;
  }
}

@media screen and (max-width: 620px) {
  .elements__cards {
    grid-template-columns: repeat(1, 1fr);
    max-width: 282px;
    gap: 20px;
  }
}

@media screen and (max-width: 320px) {
  .elements__cards {
    grid-template-columns: repeat(1, 1fr);
    max-width: 282px;
    gap: 20px;
  }
}
