.footer {
  font-family: Inter;
  font-weight: 400;
  font-size: 18px;
  color: #545454;
}

.footer__description {
  margin: auto;
  max-width: 880px;
  padding-top: 67px;
  padding-bottom: 60px;
}

@media screen and (max-width: 320px) {
  .footer {
    font-size: 14px;
  }

  .footer__description {
    max-width: 282px;
    padding: 50px 0 36px;
  }
}